
*.pyc
django-project/mysite/media/*
django-project/mysite/private_config.json
django-project/mysite/static/*
django-project/mysite/storage_credentials.json
data-tools/sales.csv
data-tools/locations.csv
data-tools/.vscode/*
data-tools/*.csv
.vscode/*
