{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        {{ object.name }} Customer Detail
    </h1>
    <p>
    <small><a href="{% url 'inventory:customer_update' object.pk %}">Edit this Customer</a></small>
    </p>
    <table>
        <tr>
            <th>Customer</th>
        </tr>
        <tr>
            <td>{{ object.name }}</td>
        </tr>
    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:my_customers' %}">back to {{ user.username }}'s Customer list</a><br>

{% endblock content %}