{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {% if object %}
            <legend>Update this Customer Order</legend>
            {% else %}
            <legend>Create a new Customer Order</legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div>
            {% if object %}
            <button type="submit">Update</button>
            {% else %}
            <button type="submit">Create</button>
            {% endif %}
        </div>
    </form>
    <br>
    <hr>
    {% if object %}
    <small><a href="{% url 'inventory:customer_order_delete' object.pk %}">Delete this Customer Order</a></small>
    {% endif %}
</div>
{% endblock content %}