{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Customer Order {{ object.order_number }} Detail
    </h1>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Product</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Customer</th>
        </tr>
        <tr>
            <td>{{ object.order_number }}</td>
            <td><a href="{% url 'inventory:product_detail' object.product.label %}">{{ object.product.name }}</a></td>
            <td>{{ object.date }}</td>
            <td>{{ object.quantity }}</td>
            <td><a href="{% url 'inventory:customer_customer_orders' object.customer.label %}">{{ object.customer.name }}</a></td>
        </tr>
    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:index' %}">back to all inventory</a>
{% endblock content %}