{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Customer Order {{ object.order_number }} Detail
    </h1>
    <p>
    <small><a href="{% url 'inventory:customer_order_update' object.pk %}">Edit this Customer Order</a></small>
    </p>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Product</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Customer</th>
        </tr>
        <tr>
            <td>{{ object.order_number }}</td>
            <td><a href="{% url 'inventory:product_detail' object.product.label %}">{{ object.product.name }}</a></td>
            <td>{{ object.date }}</td>
            <td>{{ object.quantity }}</td>
            <td><a href="{% url 'inventory:customer_customer_orders' object.customer.label %}">{{ object.customer.name }}</a></td>
        </tr>
    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:product_orders' object.product.label %}">back to {{ object.product.name }} overview</a>
{% endblock content %}