{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Product Inventory
    </h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Available Product<p>(inventory + PO's - Customer Orders )</p></th>
            <th>Factory PO's</th>
            <th>Customer Orders</th>
            <th>Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error</th>
        </tr>
        {% for product, available, purchase_orders, customer_orders, inventory, par_stock, stock_error in product_inventories %}
        <tr>
            <td><a href="{% url 'inventory:product_orders' product.label %}">{{ product.name }}</a></td>
            <td>{{ available }}</a></td>
            <td>{{ purchase_orders }}</td>
            <td>{{ customer_orders }}</td>
            <td>{{inventory}}</td>
            <td>{{par_stock}}</td>
            <td>{{stock_error}}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
    <br>
    <hr>
    <a href="{% url 'inventory:all_purchase_orders' %}">My Purchase Orders</a><br>
    <a href="{% url 'inventory:all_customer_orders' %}">My Customer Orders</a><br>
    <a href="{% url 'inventory:my_customers' request.user.pk %}">My Customers</a><br>
    </div>
    <div>
    <br>
    <hr>
    <a href="{% url 'inventory:purchase_order_create' %}">Add a new Purchase Order</a><br>
    <a href="{% url 'inventory:product_create' %}">Add a new Product</a><br>
    <a href="{% url 'inventory:customer_order_create' %}">Add a new Customer Order</a>
    </div>

{% endblock content %}
