{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Product Inventory
    </h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Available Product<p>(inventory + PO's - Customer Orders)</p></th>
            <th>Factory PO's</th>
            <th>Customer Orders</th>
            <th>BOM Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error<p>(Available - Par Stock)</p></th>
        </tr>
        {% for product, available, purchase_orders, customer_orders, inventory, par_stock, stock_error in product_inventories %}
        <tr>
            <td><a href="{% url 'inventory:product_orders' product.label %}">{{ product.name }}</a></td>
            <td>{{ available }}</a></td>
            <td>{{ purchase_orders }}</td>
            <td>{{ customer_orders }}</td>
            <td>{{ inventory }}</td>
            <td>{{ par_stock }}</td>
            <td>{{ stock_error }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'inventory:product_create' %}">Add a new Product</a><br>
    <div>
    <br>
    <hr>
    {% if has_purchase_orders %}
    <a href="{% url 'inventory:all_purchase_orders' %}">My Purchase Orders</a><br>
    {% endif %}
    {% if has_customer_orders %}
    <a href="{% url 'inventory:all_customer_orders' %}">My Customer Orders</a><br>
    {% endif %}
    {% if has_customers %}
    <a href="{% url 'inventory:my_customers' %}">My Customers</a><br>
    {% else %}
    <a href="{% url 'inventory:customer_create' %}">Add your first Customer</a>
    {% endif %}
    </div>
    <div>
    <br>
    <hr>
    </div>

{% endblock content %}
