{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {% if object %}
            <legend>Update this Beginning of Month Inventory Record</legend>
            {% else %}
            <legend>Create a new Beginning of Month Inventory Record</legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div>
            {% if object %}
            <button type="submit">Update</button>
            {% else %}
            <button type="submit">Create</button>
            {% endif %}
        </div>
    </form>
    <br>
    <hr>
    {% if object %}
    <small><a href="{% url 'inventory:inventory_record_delete' object.product.label object.pk %}">Delete this Inventory Record</a></small>
    {% endif %}
</div>
{% endblock content %}