<!DOCTYPE html>
<html>
<head>
<style>
    table {width:100%;}
    th, td {border:1px solid black;}
    th p {font-size: 50%;}
</style>
</head>
<body>
    <h1>
        {{ product.name }} Product Detail
    </h1>
    <table>
        <tr>
            <th>Available Product</th>
            <th><a href="{% url 'product_purchase_orders' product.label %}">Purchase Order Total</a></th>
            <th><a href="{% url 'product_customer_orders' product.label %}">Customer Order Total</a></th>
            <th>Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error</th>
            
        </tr>
        
        <tr>
            <td>{{ available }}</td>
            <td>{{ purchase_orders_total }}</td>
            <td>{{ customer_orders_total }}</td>
            <td>{{ product.inventory }}</td>
            <td>{{ product.par_stock }}</td>
            <td>{{ product.stock_error }}</td>
        </tr>
    </table>
    <br>
    <hr>

    <h2>
        {% if po_filter_count %}
        {{ po_filter_count }} Purchase Orders for {{ product.name }} from {{ filter_date }} to today
        {% else %}
        Purchase Orders related to {{ product.name }}
        {% endif %}
    </h2>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Runs</th>
            <th>Run Quantity</th>
            <th>Total</th>
        </tr>
        {% for related_purchase_order in related_purchase_orders %}
        <tr>
            <td><a href="{% url 'purchase_order_detail' related_purchase_order.pk %}">{{ related_purchase_order.order_number }}</a></td>
            <td><a href="{% url 'date_filter_product_orders' related_purchase_order.product.label related_purchase_order.date %}">{{ related_purchase_order.date }}</a></td>
            <td>{{ related_purchase_order.runs }}</td>
            <td>{{ related_purchase_order.run_quantity }}</td>
            <td>{{ related_purchase_order.total }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>

    <h2>
        {% if co_filter_count %}
        {{ co_filter_count }} Customer Orders for {{ product.name }} from {{ filter_date }} to today
        {% else %}
        Customer Orders related to {{ product.name }}
        {% endif %}
        
    </h2>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Quantity</th>
        </tr>
        {% for related_customer_order in related_customer_orders %}
        <tr>
            <td><a href="{% url 'customer_order_detail' related_customer_order.pk %}">{{ related_customer_order.order_number }}</a></td>
            <td><a href="{% url 'customer_customer_orders' related_customer_order.customer.label %}">{{ related_customer_order.customer.name }}</a></td>
            <td><a href="{% url 'date_filter_product_orders' related_customer_order.product.label related_customer_order.date %}">{{ related_customer_order.date }}</a></td>
            <td>{{ related_customer_order.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>

    <a href="{% url 'index' %}">back to all inventory</a>
</body>
</html>
