{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        {% if co_filter_count %}
        {{ co_filter_count }} Customer Orders for {{ product.name }} from {{ filter_date }} to today
        {% else %}
        Customer orders related to {{ product.name }}
        {% endif %}
        
    </h1>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Quantity</th>
        </tr>
        {% for related_customer_order in object_list %}
        <tr>
            <td>{{ related_customer_order.order_number }}</td>
            <td><a href="{% url 'inventory:customer_customer_orders' related_customer_order.customer.label %}">{{ related_customer_order.customer.name }}</a></td>
            <td><a href="{% url 'inventory:date_filter_product_customer_orders' related_customer_order.product.label related_customer_order.date %}">{{ related_customer_order.date }}</a></td>
            <td>{{ related_customer_order.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:index' %}">back to all inventory</a>
{% endblock content %}
