<!DOCTYPE html>
<html>
<head>
<style>
    table {width:100%;}
    th, td {border:1px solid black;}
    th p {font-size: 50%;}
</style>
</head>
<body>
    <h1>
        Customer orders related to {{ product.name }}
    </h1>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Quantity</th>
        </tr>
        {% for related_customer_order in object_list %}
        <tr>
            <td>{{ related_customer_order.order_number }}</td>
            <td><a href="{% url 'customer_customer_orders' related_customer_order.customer.label %}">{{ related_customer_order.customer.name }}</a></td>
            <td>{{ related_customer_order.date }}</td>
            <td>{{ related_customer_order.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <a href="{% url 'index' %}">back to all inventory</a>
</body>
</html>
