{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        {{ product.name }} Product Detail
    </h1>
    <p>
        <small><a href="{% url 'inventory:product_update' product.label %}">Edit this Product</a></small>
    </p>
    <table>
        <tr>
            <th>Available Product</th>
            <th><a href="{% url 'inventory:product_purchase_orders' product.label %}">Purchase Order Total</a></th>
            <th><a href="{% url 'inventory:product_customer_orders' product.label %}">Customer Order Total</a></th>
            <th>Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error</th>
            
        </tr>
        
        <tr>
            <td>{{ available }}</td>
            <td>{{ purchase_orders }}</td>
            <td>{{ customer_orders }}</td>
            <td>{{ recent_inventory }}</td>
            <td>{{ recent_par_stock }}</td>
            <td>{{ stock_error }}</td>
        </tr>

    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:index' %}">back to all inventory</a>
{% endblock content %}
