<!DOCTYPE html>
<html>
<head>
<style>
    table {width:100%;}
    th, td {border:1px solid black;}
    th p {font-size: 50%;}
</style>
</head>
<body>
    <h1>
        {{ product.name }} Product Detail
    </h1>
    <table>
        <tr>
            <th>Available Product</th>
            <th><a href="{% url 'product_purchase_orders' product.label %}">Purchase Order Total</a></th>
            <th><a href="{% url 'product_customer_orders' product.label %}">Customer Order Total</a></th>
            <th>Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error</th>
            
        </tr>
        
        <tr>
            <td>{{ available }}</td>
            <td>{{ purchase_orders }}</td>
            <td>{{ customer_orders }}</td>
            <td>{{ product.inventory }}</td>
            <td>{{ product.par_stock }}</td>
            <td>{{ product.stock_error }}</td>
        </tr>

    </table>
    <br>
    <hr>
    <a href="{% url 'index' %}">back to all inventory</a>
</body>
</html>
