{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Product Summary for {{ product.name }}
    </h1>
    <table>
        <tr>
            <th>Available Product<p>(inventory + PO's - Customer Orders )</p></th>
            <th>Purchase Order Total</th>
            <th>Customer Order Total</th>
            <th>Inventory</th>
            <th>Par Stock</th>
            <th>Stock Error</th>
            
        </tr>
        
        <tr>
            <td><p>{{ inventory}} + {{ purchase_orders_total }} - {{ customer_orders_total }} = </p>{{ available }}</td>
            <td>{{ purchase_orders_total }}</td>
            <td>{{ customer_orders_total }}</td>
            <td>{{ inventory }}</td>
            <td>{{ par_stock }}</td>
            <td>{{ stock_error }}</td>
        </tr>
    </table>
    <br>
    <hr>
    {% if start_date %}
        <h2>Date range: {{ start_date }} to {{ end_date }}</h2>
        {% if end_date_unset %}
            <p>click another date to set the date filter endpoint</p>
        {% else %}
            <a href="{% url 'inventory:product_orders' product.label %}">back to all orders for {{ product.name }}</a>
        {% endif %}
    {% else %}
        <h2>All related orders</h2>
        <p>click a date to set the date filter starting point</p>
    {% endif %}    
        
    <hr>
    <h3>
        {% if start_date %}
        {{ po_filter_count }} Purchase Orders for {{ product.name }} for this date range
        {% else %}
        Purchase Orders related to {{ product.name }}
        {% endif %}
    </h3>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Runs</th>
            <th>Run Quantity</th>
            <th>Total</th>
        </tr>
        {% for related_purchase_order in related_purchase_orders %}
        <tr>
            <td><a href="{% url 'inventory:purchase_order_detail' related_purchase_order.pk %}">{{ related_purchase_order.order_number }}</a></td>
            {% if end_date_unset %}
            <td><a href="{% url 'inventory:date_range_filter_product_orders' related_purchase_order.product.label start_date|date:'Y-m-d' related_purchase_order.date %}">{{ related_purchase_order.date }}</a></td>
            {% else %}
            <td><a href="{% url 'inventory:date_filter_product_orders' related_purchase_order.product.label related_purchase_order.date %}">{{ related_purchase_order.date }}</a></td>
            {% endif %}
            <td>{{ related_purchase_order.runs }}</td>
            <td>{{ related_purchase_order.run_quantity }}</td>
            <td>{{ related_purchase_order.total }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>

    <h3>
        {% if start_date %}
        {{ co_filter_count }} Customer Orders for {{ product.name }} for this date range
        {% else %}
        Customer Orders related to {{ product.name }}
        {% endif %}
        
    </h3>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Quantity</th>
        </tr>
        {% for related_customer_order in related_customer_orders %}
        <tr>
            <td><a href="{% url 'inventory:customer_order_detail' related_customer_order.pk %}">{{ related_customer_order.order_number }}</a></td>
            <td><a href="{% url 'inventory:customer_customer_orders' related_customer_order.customer.label %}">{{ related_customer_order.customer.name }}</a></td>
            {% if end_date_unset %}
            <td><a href="{% url 'inventory:date_range_filter_product_orders' related_customer_order.product.label start_date|date:'Y-m-d' related_customer_order.date %}">{{ related_customer_order.date }}</a></td>
            {% else %}
            <td><a href="{% url 'inventory:date_filter_product_orders' related_customer_order.product.label related_customer_order.date %}">{{ related_customer_order.date }}</a></td>
            {% endif %}
            <td>{{ related_customer_order.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    {% if start_date %}
    <a href="{% url 'inventory:product_orders' product.label %}">back to all orders for {{ product.name }}</a>
    {% endif %}
    <br>
    <a href="{% url 'inventory:index' %}">back to all inventory</a>
{% endblock content %}
