{% extends "inventory/base.html" %}
{% block content %}
    <h1>
        Purchase Order {{object.order_number}} Detail
    </h1>
    <p>
    <small><a href="{% url 'inventory:purchase_order_update' object.pk %}">Edit this Purchase Order</a></small>
    </p>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Runs</th>
            <th>Run Quantity</th>
            <th>Total</th>
        </tr>
        
        <tr>
            <td>{{ object.order_number }}</td>
            <td>{{ object.date }}</td>
            <td>{{ object.runs }}</td>
            <td>{{ object.run_quantity }}</td>
            <td>{{ object.total }}</td>
        </tr>
        
    </table>
    <br>
    <hr>
    <a href="{% url 'inventory:product_orders' object.product.label %}">back to {{ object.product }} overview</a>
{% endblock content %}

