{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {% if object %}
            <legend>Update this purchase order</legend>
            {% else %}
            <legend>Create a new purchase order</legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div>
            {% if object %}
            <button type="submit">Update</button>
            {% else %}
            <button type="submit">Create</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}