<!DOCTYPE html>
<html>
<head>
<style>
    table {width:100%;}
    th, td {border:1px solid black;}
    th p {font-size: 50%;}
</style>
</head>
<body>
    <h1>
        {% if po_filter_count %}
        {{ po_filter_count }} Purchase Orders from {{ start_date }} to {{ end_date }}
        {% else %}
        All {{ po_count }} Purchase Orders
        {% endif %}
    </h1>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Product</th>
            <th>Date</th>
            <th>Runs</th>
            <th>Run Quantity</th>
            <th>Total</th>
        </tr>
    {% for object in object_list %}        
        <tr>
            <td><a href="{% url 'purchase_order_detail' object.pk %}">{{ object.order_number }}</a></td>
            <td><a href="{% url 'product_orders' object.product.label %}">{{ object.product.name }}</a></td>
            {% if end_date_set or not start_date %}
            <td><a href="{% url 'date_filter_purchase_orders' object.date %}">{{ object.date }}</a></td>
            {% else %}
            <td><a href="{% url 'date_range_filter_purchase_orders' start_date|date:'Y-m-d' object.date %}">{{ object.date }}</a></td>
            {% endif %}
            <td>{{ object.runs }}</td>
            <td>{{ object.run_quantity }}</td>
            <td>{{ object.total }}</td>
        </tr>
    {% endfor %}  
    </table>
    <br>
    <hr>
    <a href="{% url 'index' %}">back to all inventory</a>
</body>
</html>

